﻿@model RecipeWebsite.Models.User
@{
    ViewData["Title"] = "Register";
}


<div class="border container" style="padding:30px;">
    <div class="row  justify-content-center">
        <div class="col-6">
            <div><h4>Sign Up</h4> <a  asp-area="" asp-controller="Login" asp-action="Index">Already a member? Sign in</a></div>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Email"></label>
            </div>
            <div class="col-6">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Password">Password</label>
            </div>
            <div class="col-6">
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Password">Confirm Password</label>
            </div>
            <div class="col-6">
                <input type="password" asp-for="Password" class="form-control" name="ConfirmPassowrd" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Username"></label>
            </div>
            <div class="col-6">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Picture"></label>
            </div>
            <div class="col-6">
                <input id="ImagePath" asp-for="Picture" title="Upload a product image"
                       type="file" name="ImageFile" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-secondary form-control">Register</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}