﻿@model RecipeWebsite.Models.User
@{
    ViewData["Title"] = "Register Successfully.";
}
<h1>Hi @Model.Email</h1>
<h2>Registration Successful.</h2>
<h3><a href="/login">Login</a> or <a href="/">Home</a></h3>