﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: pre-line;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: #e3e6e4;
    margin-bottom: 60px;
}

.container {
    background-color:white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.profile-header {
    background-image:url("../images/spices-header.jpg");
    height:120px;
}

.profile-name {
    color:white;
    font-weight:bold;
    margin-left:100px;
}

.profile-menu {

}

.about-main {
    padding-top:30px;
    min-height:605px;
}

.fa-star {
    color: #e86017;
}
.currentPage {
    color: #e86017;
    font-weight: bold;
}

.flyout {
    position: absolute;
    margin-left: 250px;
    width: 600px;
    min-height: 250px;
    background: #b8b8b8;
    overflow: hidden;
    z-index: 10000;
}

.hidden {
    visibility: hidden;
}

.rating-star {
    color: #d4d5d6;
}
.category {
    width: 100px;
    border-radius: 50%;
    margin-right:50px;
}