﻿@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    var email = HttpContextAccessor.HttpContext.Session.GetString("Email");
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");
    var currentPage = HttpContextAccessor.HttpContext.Session.GetString("CurrentPage");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipeWebsite-Profile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.JPG"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container profile-header">
        @if (email == "" || email == null)
        {

        }
        else
        {
            <p class="profile-name">@username</p>
        }
    </div>
    <div class="container profile-menu">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item" style="width:20%">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">
                            @if (currentPage == "ProIndex")
                            {
                                <span class="currentPage">      
                                    Favorites
                                </span>
                            }
                            else {
                                <span>Favorites</span>
                            }
                        </a>
                    </li>
                    <li class="nav-item" style="width:20%">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="MyReviews">
                            @if (currentPage == "MyReviews")
                            {
                                <span class="currentPage">
                                    My Reviews
                                </span>
                            }
                            else
                            {
                                <span>My Reviews</span>
                            }
                        </a>
                    </li>
                    <li class="nav-item" style="width:20%">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="PersonalRecipes">
                            @if (currentPage == "PersonalRecipes")
                            {
                                <span class="currentPage">
                                    Personal Recipes
                                </span>
                            }
                            else
                            {
                                <span>Personal Recipes</span>
                            }
                            
                        </a>
                    </li>
                    <li class="nav-item" style="width:20%">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Friends">
                            @if (currentPage == "Friends")
                            {
                                <span class="currentPage">
                                    Friends
                                </span>
                            }
                            else
                            {
                                <span>Friends</span>
                            }                           
                        </a>
                    </li>
                    <li class="nav-item" style="width:20%">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="About">
                            @if (currentPage == "About")
                            {
                                <span class="currentPage">
                                    About
                                </span>
                            }
                            else
                            {
                                <span>About</span>
                            }
                            
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br /><br /><br />
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - RecipeWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
