﻿@model RecipeWebsite.Models.User
@{
    ViewData["Title"] = "Profile Home Page";
    Layout = "_Layout";
}

<div class="container about-main">
    <div class="row">
        <div class="col">
            <img src="~/images/users/@Model.Picture">
        </div>
        <div class="col">
            <form method="post">
                <input type="hidden" name="id" value="@Model.Id">
                <input type="hidden" name="Email" value="@Model.Email">
                <input type="hidden" name="Password" value="@Model.Password">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-6">
                        <span>@Model.Email</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Username"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Picture"></label>
                    </div>
                    <div class="col-6">
                        <input id="ImagePath" asp-for="Picture" title="Upload a product image"
                               type="file" name="ImageFile" /><br />
                        <input type="button" value="Take Snapshot" onClick="take_snapshot()">
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 offset-3">
                        <button type="submit" class="btn btn-secondary form-control">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <!-- First, include the Webcam.js JavaScript Library -->
    <!-- Configure a few settings and attach camera -->
    <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    </script>

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">
        function take_snapshot() {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                // display results in page
                document.getElementById('results').innerHTML =
                    '<img src="' +
                    data_uri +
                    '"/>';

                Webcam.upload(data_uri,
                    '/Camera/Capture',
                    function (code, text) {
                        alert('Photo Captured');
                    });
            });
        }
    </script>
}