﻿@model IEnumerable<RecipeWebsite.Models.Follow>
@{
    ViewData["Title"] = "Profile Follower";
    Layout = "_Layout";
}

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="width:260px;">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Friends">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Following"><span class="currentPage">Following</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Follower">Follower</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <p><b>People you are following</b></p>
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-auto">
                <img src="~/images/users/@item.Following.Picture" style="width:80%;" /><br /><br />
                <div>
                    <b>@item.Following.Username</b><br />
                    <button class="btnCancelFollow" data-id="@item.Id">
                        <i class="fas fa-users" style=" color: #4d5fb3"></i> Cancel Following
                    </button>
                </div>
            </div>
        }
    </div>
    <br />

    <br />
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".btnCancelFollow").click(function () {
                var id = $(this).data('id');
                var arguments = { id: id };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CancelFollowing", "Profile")',
                    data: arguments,
                    success: function (data) {
                        if (data.success) {
                            alert("Cancel Following successful!");
                            location.reload();
                        }
                        else {
                            alert("Cancel Following fail!");
                        }
                    },
                    error: function (data) {
                        //toastr.error(data.message);
                    }
                });
            });
        });
    </script>
}