﻿@model IEnumerable<RecipeWebsite.Models.User>
@{
    ViewData["Title"] = "Profile Follower";
    Layout = "_Layout";
}

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="width:260px;">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Friends"><span class="currentPage">Friends</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Following">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Follower">Follower</a>
                </li>
            </ul>
        </div>
    </nav>
    <form method="post">
        Friends &nbsp; <input type="text" style="width:60%"> &nbsp;&nbsp;<button type="submit" class="btn btn-danger"> <i class="fas fa-search"></i> </button>
    </form>
    <br />
    <p><b>Suggested cookers to follow</b></p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-auto">
                <img src="~/images/users/@item.Picture" style="width:80%;" /><br />
                <div>
                    <b>@item.Username</b><br />
                    <button class="btnFollow" data-id="@item.Id">
                        <i class="fas fa-users" style=" color: #4d5fb3"></i> Follow
                    </button>
                </div>
            </div>
        }
    </div>
    <br />

    <br />
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".btnFollow").click(function () {
                var followingId = $(this).data('id');
                var arguments = { followingId: followingId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SetFollow", "Profile")',
                    data: arguments,
                    success: function (data) {
                        if (data.success) {
                            alert("SetFollow successful!");
                        }
                        else {
                            alert("SetFollow fail!");
                        }
                    },
                    error: function (data) {
                        //toastr.error(data.message);
                    }
                });
            });
        });
    </script>
}