﻿@model IEnumerable<RecipeWebsite.Models.Userfavoriterecipe>

@{
    ViewData["Title"] = "Profile Home";
}

<div class="container">
    <br />
    <form method="post">
        Recipes &nbsp; <input type="text" style="width:60%"> &nbsp;&nbsp;<button type="submit" class="btn btn-danger"> <i class="fas fa-search"></i> </button>
    </form>
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-auto">
                <img src="~/images/@item.Recipe.Picture" style="width:100%" /><br />
                <div>
                    <b>@item.Recipe.Name</b><br />
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>@item.Recipe.Comments.Count()<br />
                    Create by : @item.Recipe.User.Username <br />
                    <i class="fas fa-users" style=" color: #4d5fb3"></i> @item.Recipe.User.Follows.Count()
                    &nbsp;<i class="fas fa-heart" style="color: red"> </i> @item.Recipe.User.Userfavoriterecipes.Count()
                    &nbsp; <i class="fas fa-book" style="color: #ab4f09"></i>&nbsp;@item.Recipe.User.Recipes.Count()<br />
                    <!-- Button trigger modal -->
                    <button type="button" data-toggle="modal" data-target="#exampleModal">
                        Rating
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Rating and comment</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Your rating
                                    <div style="font-size:30px;">
                                        <a href="#"><i class="fas fa-star rating-star" id="star1"></i></a>
                                        <a href="#"><i class="fas fa-star rating-star" id="star2"></i></a>
                                        <a href="#"><i class="fas fa-star rating-star" id="star3"></i></a>
                                        <a href="#"><i class="fas fa-star rating-star" id="star4"></i></a>
                                        <a href="#"><i class="fas fa-star rating-star" id="star5"></i></a>
                                    </div>
                                    Your review (optional)<br />
                                    <textarea cols="60" rows="8" id="description">
                                    </textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary btnSubmit" data-recipeid="@item.RecipeId">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        }
    </div>
</div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            var ratingNum = 0;
            $("#star1").click(function () {
                var color1 = $('#star1').css("color");
                if (color1 == "rgb(212, 213, 214)") {
                    ratingNum = 1;
                    $(this).css('color', '#e86017');
                } else {
                    $("#star2").css('color', '#d4d5d6');
                    $("#star3").css('color', '#d4d5d6');
                    $("#star4").css('color', '#d4d5d6');
                    $("#star5").css('color', '#d4d5d6');
                }
            });

            $("#star2").click(function () {
                var color2 = $('#star2').css("color");
                if (color2 == "rgb(212, 213, 214)") {
                    ratingNum = 2;
                    $("#star1").css('color', '#e86017');
                    $(this).css('color', '#e86017');
                } else {
                    $("#star3").css('color', '#d4d5d6');
                    $("#star4").css('color', '#d4d5d6');
                    $("#star5").css('color', '#d4d5d6');
                }
            });

            $("#star3").click(function () {
                var color3 = $('#star3').css("color");
                if (color3 == "rgb(212, 213, 214)") {
                    ratingNum = 3;
                    $("#star1").css('color', '#e86017');
                    $("#star2").css('color', '#e86017');
                    $(this).css('color', '#e86017');
                } else {
                    $("#star4").css('color', '#d4d5d6');
                    $("#star5").css('color', '#d4d5d6');
                }
            });

            $("#star4").click(function () {
                var color4 = $('#star4').css("color");
                if (color4 == "rgb(212, 213, 214)") {
                    ratingNum = 4;
                    $("#star1").css('color', '#e86017');
                    $("#star2").css('color', '#e86017');
                    $("#star3").css('color', '#e86017');
                    $(this).css('color', '#e86017');
                }
                else {
                    $("#star5").css('color', '#d4d5d6');
                }
            });

            $("#star5").click(function () {
                ratingNum = 5;
                $("#star1").css('color', '#e86017');
                $("#star2").css('color', '#e86017');
                $("#star3").css('color', '#e86017');
                $("#star4").css('color', '#e86017');
                $(this).css('color', '#e86017');
            });

            $(".btnSubmit").click(function () {
                var recipeid = $(this).data('recipeid');
                var description = $("#description").val();
                var arguments = { recipeid: recipeid, ratingNum: ratingNum,description: description };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Rating", "Profile")',
                    data: arguments,
                    success: function (data) {
                        if (data.success) {
                            alert("Rating successful!");
                            location.reload();
                        }
                        else {
                            alert("Rating fail!");
                        }
                    },
                    error: function (data) {
                        //toastr.error(data.message);
                    }
                });
            });

        });
    </script>
}