﻿@model IEnumerable<RecipeWebsite.Models.Comment>
@{
    ViewData["Title"] = "Profile Favorites";
    Layout = "_Layout";
}

<div class="container">
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-auto">
                <img src="~/images/@item.Recipe.Picture" style="width:100%" />
                <div>
                    <b>@item.Recipe.Name</b><br />
                    <i>My rating:</i>
                    @for (int i = 0; i < item.Rating; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                </div>
            </div>
        }
    </div>
    <br />
</div>
