﻿@model RecipeWebsite.Models.Recipe
@{
    ViewData["Title"] = "Profile Personal Recipe-- Add";
    Layout = "_Layout";
}

<div class="container about-main">
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Name" name="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Description" name="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Ingredients"></label>
                    </div>
                    <div class="col-6">
                        <textarea rows="15" cols="100" asp-for="Ingredients" name="Ingredients" class="form-control"></textarea>
                        <span asp-validation-for="Ingredients" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Directions"></label>
                    </div>
                    <div class="col-6">
                        <textarea rows="15" cols="100" asp-for="Directions" name="Directions" class="form-control"></textarea>
                        <span asp-validation-for="Directions" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Picture"></label>
                    </div>
                    <div class="col-6">
                        <input id="ImagePath" asp-for="Picture" title="Upload a product image"
                               type="file" name="ImageFile" /><br />
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="UserId"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="UserId" name="UserId" class="form-control" />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="CategoryId" name="CategoryId" class="form-control" />
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 offset-3">
                        <button type="submit" class="btn btn-secondary form-control">Add Personal Recipe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
