﻿@model IEnumerable<RecipeWebsite.Models.Recipe>
@{
    ViewData["Title"] = "Profile-Personal Recipe";
    Layout = "_Layout";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-3  col-md-auto">
            <button style="height:350px;width:330px;padding-left:40%;" id="btnAddPersonalRecipe">
                <div style="background-color:white;width:50px;height:50px;border-radius:50%;">
                    <b style="font-size:30px;">+</b>
                </div>
                <div>
                    <span style="margin-left:-150px;">Add a Recipe</span>
                </div>
            </button>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-3  col-md-auto">
                <a asp-area="" asp-controller="Recipe" asp-action="Edit"><img src="~/images/@item.Picture" style="width:100%" /></a><br /><br />
                <div>
                    <b>@item.Name</b><br />
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <br />
        }
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#btnAddPersonalRecipe").click(function () {
                window.location.href = '/Recipes/Create';
            });
        });
    </script>
}