﻿@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    var email = HttpContextAccessor.HttpContext.Session.GetString("Email");
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");

}
    <ul class="navbar-nav">
        @if (email == "" || email == null)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Index">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Hello @username!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Logout">Logout</a>
            </li>
        }
    </ul>
