﻿@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@using RecipeWebsite.Models
@model User

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Login";
}
    <br />
    <div id="loginContainer" class="container">
        <div class="row  justify-content-center">
            <div class="col-6">
                <div><h4>Sign in with email</h4> </div>
            </div>
        </div><br>

        <!-- Form for login-->
        <form id="loginForm" class="mt-3 needs-validation" method="post">

            <!-- UserName input -->
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-3 col-form-label"
                       for="email">Email</label>
                <div class="col-12 col-sm-9">
                    <input type="text" class="form-control" name="email" id="email" placeholder="prerry@gmail.com" required value="shuixiutan@gmail.com" />
                </div>
            </div>
            <!-- End of UserName input -->
            <!-- password input -->
            <div class="form-group row align-items-sm-center">
                <label class="d-none d-sm-block col-sm-3 col-form-label"
                       for="password">Password</label>
                <div class="col-12 col-sm-9">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Your Password" value="123456ab" required />
                </div>
            </div>
            <!-- End of password input -->
            <!-- Submit button -->
            <div class="row ">
                <div class="col-3 offset-3">
                    <button type="submit" class="btn btn-secondary form-control">Sign In</button>
                    <div class="col-12 col-sm-9">
                        <a asp-area="" asp-controller="Register" asp-action="Index">New user? Join here!</a>
                    </div>
                </div>
            </div>
        </form>

        @{
            if (Model.ExternalLogins.Count == 0)
            {
                <div>No external logins configured</div>
            }
            else
            {
                <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary"
                                    name="provider" value="@provider.Name"
                                    title="Log in using your @provider.DisplayName account">
                                @provider.DisplayName
                            </button>
                        }
                    </div>
                </form>
            }
        }

    </div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}