﻿@model IEnumerable<RecipeWebsite.Models.Recipe>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home";
    var email = HttpContextAccessor.HttpContext.Session.GetString("Email");
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");
}

<br />
<div class="container">

    <br />
    <div class="row">
        <div class="col">
            <a href="#"><img src="~/images/recipe1.jpg" class="category" /></a>
            <a href="#"><p>BBQ & Grilled Shrimp </p></a>
        </div>
        <div class="col">
            <a href="#">
                <img src="~/images/recipe2.jpg" class="category" />
            </a>
            <a href="#"><p>Quarantine Cooking </p></a>
        </div>
        <div class="col">
            <a href="#">
                <img src="~/images/recipe3.jpg" class="category" />
            </a>
            <a href="#"><p>Cake Recipes </p></a>
        </div>
        <div class="col">
            <a href="#">
                <img src="~/images/recipe4.jpg" class="category" />
            </a>
            <a href="#"><p>Cheesecake Recipes </p></a>
        </div>
        <div class="col">
            <a href="#">
                <img src="~/images/recipe5.jpg" class="category" />
            </a>
            <a href="#"><p>Bundt Cake Recipes </p></a>
        </div>
        <div class="col">
            <a href="#">
                <img src="~/images/recipe6.jpg" class="category" />
            </a>
            <a href="#"><p>Shrimp Recipes </p></a>
        </div>

    </div>
    <br />
    <div class="row">
        <h3>Latest Recipes</h3>
    </div>
    <hr class="my-4">

    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-lg-3  col-md-auto">
            <br />
            <img src="~/images/@item.Picture" style="width:100%" /><br /><br />
            <div>
                <b>@item.Name</b><br />
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="#">Create by:Shuixiu Tan</a> <br /><br />
            @if (email == "" || email == null)
            {
                <a asp-area="" asp-controller="Login" asp-action="Index" class="btn btn-sm btn-secondary">
                    <i class="fas fa-heart" style="color: red"> </i>Add
                </a>
                <!-- Button trigger modal -->
                <a asp-area="" asp-controller="Login" asp-action="Index" class="btn  btn-sm btn-secondary">
                    Rating
                </a>
            }
            else
            {
                <button class="btnFavorite btn btn-sm btn-secondary" data-id="@item.Id" >
                    <i class="fas fa-heart" style="color: red"> </i>Add
                </button>
                <!-- Button trigger modal -->
                <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-secondary">
                    Rating
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Rating and comment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Your rating
                                <div style="font-size:30px;">
                                    <a href="#"><i class="fas fa-star rating-star" id="star1"></i></a>
                                    <a href="#"><i class="fas fa-star rating-star" id="star2"></i></a>
                                    <a href="#"><i class="fas fa-star rating-star" id="star3"></i></a>
                                    <a href="#"><i class="fas fa-star rating-star" id="star4"></i></a>
                                    <a href="#"><i class="fas fa-star rating-star" id="star5"></i></a>
                                </div>
                                Your review (optional)<br />
                                <textarea cols="60" rows="8" id="description">
                                    </textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary btnSubmit" data-recipeid="@item.Id">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            }
        </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".btnFavorite").click(function () {
                var recipeId = $(this).data('id');
                var arguments = { recipeId: recipeId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SetFavorite", "Home")',
                    data: arguments,
                    success: function (data) {
                        if (data.success) {
                            alert("SetFavorite successful!");
                        }
                        else {
                            alert("SetFavorite fail!");
                        }
                    },
                    error: function (data) {
                        //toastr.error(data.message);
                    }
                });
            });

            //rating
            var ratingNum = 0;
            $("#star1").click(function () {
                var color1 = $('#star1').css("color");
                if (color1 == "rgb(212, 213, 214)") {
                    ratingNum = 1;
                    $(this).css('color', '#e86017');
                } else {
                    $("#star2").css('color', '#d4d5d6');
                    $("#star3").css('color', '#d4d5d6');
                    $("#star4").css('color', '#d4d5d6');
                    $("#star5").css('color', '#d4d5d6');
                }
            });

            $("#star2").click(function () {
                var color2 = $('#star2').css("color");
                if (color2 == "rgb(212, 213, 214)") {
                    ratingNum = 2;
                    $("#star1").css('color', '#e86017');
                    $(this).css('color', '#e86017');
                } else {
                    $("#star3").css('color', '#d4d5d6');
                    $("#star4").css('color', '#d4d5d6');
                    $("#star5").css('color', '#d4d5d6');
                }
            });

            $("#star3").click(function () {
                var color3 = $('#star3').css("color");
                if (color3 == "rgb(212, 213, 214)") {
                    ratingNum = 3;
                    $("#star1").css('color', '#e86017');
                    $("#star2").css('color', '#e86017');
                    $(this).css('color', '#e86017');
                } else {
                    $("#star4").css('color', '#d4d5d6');
                    $("#star5").css('color', '#d4d5d6');
                }
            });

            $("#star4").click(function () {
                var color4 = $('#star4').css("color");
                if (color4 == "rgb(212, 213, 214)") {
                    ratingNum = 4;
                    $("#star1").css('color', '#e86017');
                    $("#star2").css('color', '#e86017');
                    $("#star3").css('color', '#e86017');
                    $(this).css('color', '#e86017');
                }
                else {
                    $("#star5").css('color', '#d4d5d6');
                }
            });

            $("#star5").click(function () {
                ratingNum = 5;
                $("#star1").css('color', '#e86017');
                $("#star2").css('color', '#e86017');
                $("#star3").css('color', '#e86017');
                $("#star4").css('color', '#e86017');
                $(this).css('color', '#e86017');
            });

            $(".btnSubmit").click(function () {
                var recipeid = $(this).data('recipeid');
                var description = $("#description").val();
                var arguments = { recipeid: recipeid, ratingNum: ratingNum,description: description };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Rating", "Profile")',
                    data: arguments,
                    success: function (data) {
                        if (data.success) {
                            alert("Rating successful!");
                            location.reload();
                        }
                        else {
                            alert("Rating fail!");
                        }
                    },
                    error: function (data) {
                        //toastr.error(data.message);
                    }
                });
            });

        });
    </script>
}
