﻿@model RecipeWebsite.Models.Recipe
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
    var categories = ViewBag.Categories;
}

<div class="container about-main">
    <h1 class="pb-3">Create recipe</h1>
    <div class="row">
        <div class="col">
            <form method="post"  enctype="multipart/form-data">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Name" name="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-6">
                        <select name="CategoryId">
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id">@category.Code</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Description" name="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Ingredients"></label>
                    </div>
                    <div class="col-6">
                        <textarea rows="15" cols="100" asp-for="Ingredients" name="Ingredients" class="form-control"></textarea>
                        <span asp-validation-for="Ingredients" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Directions"></label>
                    </div>
                    <div class="col-6">
                        <textarea rows="15" cols="100" asp-for="Directions" name="Directions" class="form-control"></textarea>
                        <span asp-validation-for="Directions" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Picture"></label>
                    </div>
                    <div class="col-6">
                        <input id="ImagePath" asp-for="Picture" title="Upload a product image"
                               type="file" name="ImageFile" /><br />
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 offset-3">
                        <button type="submit" class="btn btn-secondary form-control">Add Recipe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Return to main page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
