﻿@model IEnumerable<RecipeWebsite.Models.Recipe>

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <p></p>
    </div>
    <div class="jumbotron">
        <h1>Welcome to Quick Recipes</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-3">
                <p>
                    <a class="btn btn-outline-secondary btn-lg" asp-controller="Recipes" asp-action="Create" role="button">Create a recipe</a>
                </p>
            </div>
            <div class="col-6">
            </div>
        </div>
        <p class="lead pt-2">or search using keywords:</p>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Sugar cookies" aria-label="Search">
            <button type="submit" class="btn btn-danger"> <i class="fas fa-search"></i> </button>
        </form>

    </div>
    <div class="row">
        <h3>Latest Recipes</h3>
    </div>
    <hr class="my-4">
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3  col-md-auto">
                <img src="~/images/@item.Picture" style="width:100%" /><br /><br />
                <div>
                    <b>@item.Name</b><br />
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        }
    </div>
</div>